.md-grid {
  max-width: 80rem;
}

.md-typeset {
  font-size: 1rem;
}

.md-path, .md-nav {
  font-size: 0.75rem;
}

.md-typeset .admonition,
.md-typeset details,
.md-typeset .tabbed-labels > label {
  font-size: 0.875rem;
}

@media (min-width: 280px) {
  .md-typeset h1 .nobr {
    white-space: nowrap;
  }
}

.md-typeset p .nobr {
  white-space: nowrap;
}
