/*
Possible font sizes for the HTML tag
150%    24px
137.5%  22px
125%    20px
*/

/* grid */

.md-grid {
  max-width: 74rem;
}

/* text */

.md-typeset {
  font-size: 1rem;
}

.md-path, .md-nav {
  font-size: 0.75rem;
}

.md-typeset .admonition,
.md-typeset details,
.md-typeset .tabbed-labels > label {
  font-size: 0.875rem;
}

.md-typeset .admonition p,
.md-typeset details p,
.md-typeset details summary,
.md-typeset details pre {
  margin-top: 0.6rem;
  margin-bottom: 0.6rem;
}

.md-typeset .admonition .admonition-title::before,
.md-typeset details summary::before,
.md-typeset details summary::after {
  top: 0.3em;
}

.md-typeset h5, .md-typeset h6 {
  margin: 2em 0 1.25em 0;
}

/* misc */

@media (min-width: 280px) {
  .md-typeset h1 .nobr {
    white-space: nowrap;
  }
}

.md-typeset p .nobr {
  white-space: nowrap;
}
