/*
Possible font sizes for the HTML tag
150%    24px
137.5%  22px
125%    20px
*/

.md-grid {
  max-width: 80rem;
}

.md-typeset {
  font-size: 1rem;
}

.md-path, .md-nav {
  font-size: 0.75rem;
}

.md-typeset .admonition,
.md-typeset details,
.md-typeset .tabbed-labels > label {
  font-size: 0.875rem;
}

.md-typeset .admonition-title::before {
  top: 0.3em;
}

.md-typeset .admonition-title {
  margin-bottom: -0.4em;
}

@media (min-width: 280px) {
  .md-typeset h1 .nobr {
    white-space: nowrap;
  }
}

.md-typeset p .nobr {
  white-space: nowrap;
}
