:root {
  /* Define reference size for calculations
     (the largest size in media queries) */
  --ref-size: 22; 
}

html {
  font-size: 112.5%; /* 18px */
}

@media screen and (min-width: 100em) {
  html { font-size: 125%; /* 20px */ }
}

@media screen and (min-width: 125em) {
  html { font-size: 137.5%; /* 22px */ }
}

/* grid */

.md-grid {
  max-width: 80rem;
}

/* text */

.md-typeset {
  font-size: 1rem;
}

.md-path, .md-nav {
  /* Reads as: Target 17px divided by Reference Size */
  font-size: calc(17 / var(--ref-size) * 1rem); 
}

.md-typeset .admonition,
.md-typeset details,
.md-typeset .tabbed-labels > label {
  /* Reads as: Target 20px divided by Reference Size */
  font-size: calc(20 / var(--ref-size) * 1rem);
}

/*
.md-typeset .admonition p,
.md-typeset details p,
.md-typeset details summary,
.md-typeset details pre {
  margin-top: 0.6rem;
  margin-bottom: 0.6rem;
}
*/

.md-typeset .admonition .admonition-title::before,
.md-typeset details summary::before,
.md-typeset details summary::after {
  top: 0.3em;
}

/* misc */

@media (min-width: 280px) {
  .md-typeset h1 .nobr {
    white-space: nowrap;
  }
}

.md-typeset p .nobr {
  white-space: nowrap;
}
